RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} /index(\.php)? [NC]
RewriteRule ^index(\.php)?$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [L,QSA]

RewriteCond %{THE_REQUEST} \s/+(?!index)([^/]+)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

ErrorDocument 404 /p404.php

#RewriteRule ^include/ - [F,L]
RewriteRule ^connect__bd/ - [F,L]
Options -Indexes
