@media (max-width: 1480px) {
  .greeting {
    margin-inline: 3px 17px;
    padding: 0;
    width: 335px;
    height: 142px;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .greeting > span {
    font-size: 1.25rem;
  }
  .greeting > img {
    width: 176px;
    height: 142px;
    position: static;
  }

  .directions_schedule {
    height: 500px;
    padding: 16px 39px;
  }

  .directions_schedule > h1 {
    font-size: 0.9375rem;
  }
  .directions {
    width: 297px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .direction {
    position: relative;
    width: 293px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .direction > h3 {
    font-size: 0.625rem;
  }
  .direction > img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .direction > p {
    font-size: 0.625rem;
    text-align: justify;
    line-height: 1;
    width: 70%;
  }
  .schedule {
    width: 93%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .schedule > h1 {
    font-size: 0.9375rem;
    margin-bottom: 20px;
    height: auto;
    line-height: 1.5;
    padding: 0;
  }
  .groups {
    display: none;
  }

  .map {
    margin-inline: auto;
    padding: 0;
    width: 302px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .map > div {
    width: 302px;
  }
  .map > p {
    font-size: 0.625rem;
  }
  .btn {
    width: 100px;
    height: 31px;
    font-size: 0.5rem;
  }
}
