@media (max-width: 1480px) {
  main {
    zoom: 0.19;
  }
  .footer-nav {
    display: flex;
    zoom: 0.7;
    padding: 20px;
  }
  .thing {
    position: static !important;
  }
  .announcement {
    margin-top: 100px;
  }
  .things {
    padding: 0;
  }
}
