@media (max-width: 1480px) {
  main {
    zoom: 0.19;
  }
  .footer-nav {
    display: flex;
    zoom: 0.7;
    padding: 20px;
  }
  .footer-nav > ul {
    flex-direction: column;
  }
  .first_class {
    height: auto;
  }
  .thing {
    position: static !important;
    text-wrap: wrap;
    width: auto;
  }
  .announcement {
    margin-top: 100px;
  }
  .things {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
